<div class="form_wrapper">
  <form
    [formGroup]="myForm"
    class="form_main"
    (ngSubmit)="onFormSubmit(myForm)"
    *ngIf="!showSuccessMessage">
    <img
      [src]="isDarkMode ? 'assets/logo-saasify-dark.png' : 'assets/logo-saasify.svg'"
      alt="Saasify logo"
      class="app-logo" />
    <p class="heading">Créer un compte</p>

    <div class="inputContainer">
      <input type="text" class="inputField" formControlName="firstname" placeholder="Prénom" />
      <small class="error-message" *ngIf="invalidFields['firstname']">Prénom requis</small>
    </div>

    <div class="inputContainer">
      <input type="text" class="inputField" formControlName="lastname" placeholder="Nom" />
      <small class="error-message" *ngIf="invalidFields['lastname']">Nom requis</small>
    </div>

    <div class="inputContainer">
      <input type="email" class="inputField" formControlName="email" placeholder="Email" />
      <small class="error-message" *ngIf="invalidFields['email']">Email valide requis</small>
    </div>

    <div class="inputContainer">
      <input type="tel" class="inputField" formControlName="phone" placeholder="Téléphone" />
      <small class="error-message" *ngIf="invalidFields['phone']">Numéro de téléphone requis</small>
    </div>

    <div class="inputContainer">
      <input
        type="password"
        class="inputField"
        formControlName="password"
        placeholder="Mot de passe" />
      <small class="error-message" *ngIf="invalidFields['password']"
        >Mot de passe requis (min 6 caractères)</small
      >
    </div>

    <div class="inputContainer">
      <input type="text" class="inputField" formControlName="streetAddr" placeholder="Adresse" />
      <small class="error-message" *ngIf="invalidFields['streetAddr']">Adresse requise</small>
    </div>

    <div class="inputContainer">
      <input type="text" class="inputField" formControlName="city" placeholder="Ville" />
      <small class="error-message" *ngIf="invalidFields['city']">Ville requise</small>
    </div>

    <div class="inputContainer">
      <input type="text" class="inputField" formControlName="zipCode" placeholder="Code postal" />
      <small class="error-message" *ngIf="invalidFields['zipCode']">Code postal requis</small>
    </div>

    <div class="inputContainer">
      <select class="inputField" formControlName="role">
        <option value="">Sélectionnez votre rôle</option>
        <option value="customer">Customer</option>
        <option value="admin">Admin</option>
        <option value="manager">Manager</option>
      </select>
      <small class="error-message" *ngIf="invalidFields['role']"
        >Veuillez sélectionner un rôle</small
      >
    </div>

    <button type="submit" id="button" class="signup-btn" [disabled]="loading">
      Créer le compte
    </button>

    <div class="submit-error" *ngIf="showErrorMessage">{{ errorMessage }}</div>

    <div class="create-account">
      <a (click)="goToLogin()" class="forgotLink" href="javascript:void(0)">Se connecter</a>
    </div>
  </form>

  <div *ngIf="showSuccessMessage" class="notification notification-success">
    <div class="notification-content">
      <div class="notification-header">
        <span class="notification-title">Bienvenue !</span>
      </div>
      <div class="notification-message">Votre compte a été créé avec succès !</div>
    </div>
  </div>
</div>
